.ItemCard {
  display: flex;
  flex-direction: column;
  border: 2px solid aliceblue;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin-bottom: 10px;
}

.ItemCardPic {
  width: 300px;
  border-radius: 5px;
}
