.CategoryNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 2px solid red;
}

.Category {
  display: flex;
  flex-direction: column;

  margin-right: 20px;
}
